.first
{
    color:red;
    background-color:blue;
    line-height: 50px;
    padding: 20px;
}
.button
{
width: 100px;
height: 100px;
color: red;
background-color: yellowgreen;
border-radius: 50%;


}
.button:hover
{
    width: 200px;
    height: 100px;
    color: antiquewhite;
    background-color: blue;
}
